body {
    height: 100%;
}

.navbar-brand {
    padding-left: 10px;
}

.container.diff {
    max-width: none !important;
}

.treeitemname:hover {
    background-color: #f0f0f0;
}

.subtree {
    padding-left: 25px;
}

.plus {
    display: inline-block;
    cursor: pointer;
    background-size: 15px 15px;
    background-position: center center;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
}

.subfile {
    display: inline-block;
    background-size: 15px 15px;
    background-position: center center;
    background-image: url(../images/subfile.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
}

.plus.opened {
    background-image: url(../images/minus.png);
}

.state {
    display: inline-block;
    font-size: small;
    margin-left: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.state.missing {
    background-color: red;
}

.state.new {
    background-color: lightblue;
}

.comments {
    padding-left: 100px;
    font-size: small;
}

.comments .comment-text {
    display: inline-block;
    font-size: small;
    margin-bottom: 2px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CCC;
    border: 1px solid lightblue;
    border-radius: 50px;
}

.comment-add {
    display: inline-block;
    cursor: pointer;
    background-size: 25px 25px;
    background-position: center center;
    background-image: url(../images/add_comment.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
    margin-left: 10px;
}

.file-check {
    display: inline-block;
    cursor: pointer;
    background-size: 25px 25px;
    background-position: center center;
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
    margin-left: 10px;
}

.file-check:hover, .comment-add:hover {
    background-color: #666;
}

.comment-hide {
    display: inline-block;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center center;
    background-image: url(../images/comment-hide.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    content: " ";
    vertical-align: top;
    margin-left: 10px;
}

.wdft-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 1px;
    margin-bottom: 20px;
}

.wdft-table-row {
    display: table-row;
}

.wdft-table-row:hover {
    background-color: #f0f0f0;
}

.wdft-table-row:hover .wdft-table-col.mid,
.wdft-table-row:hover .wdft-table-col.actions {
    background-color: #a8a1a1;
}

.wdft-table-col {
    display: table-cell;
    padding-left: 5px;
    height: 100%;
    white-space: nowrap;
    margin: 0;
}

.wdft-table-col.title {
    font-weight: 500;
    font-size: 2.5rem;
}

.wdft-table-col.left, .wdft-table-col.right {
    width: calc(50% - 100px);
}

.wdft-table-col.actions {
    width: 100px;
}

.wdft-table-col.mid {
    background-color: #e8f1f1;
    width:     100px;
    min-width: 100px;
    max-width: 100px;
    border-left: 1px solid #a1c8c8;
    border-right: 1px solid #a1c8c8;
    color: #136c6c;
}

.wdft-table-col.actions {
    background-color: #e8f1f1;
    width:     100px;
    min-width: 100px;
    max-width: 100px;
    border-left: 1px solid #a1c8c8;
    border-right: 1px solid #a1c8c8;
    color: #136c6c;
    vertical-align: middle;
    text-align: center;
}

.wdft-table-col.underline {
    border-bottom: 1px solid #a1c8c8;
}

.wdft-table-col.info-block {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.wdft-table-col.info-block.left {
    border-left: 1px solid black;
}

.wdft-table-col.mode {
    width:     70px;
    min-width: 70px;
    max-width: 70px;
    font-family: monospace;
    font-size: 10px;
}

.wdft-table-col.size {
    width:     100px;
    min-width: 100px;
    max-width: 100px;
}

.wdft-table-col.dt {
    width:     100px;
    min-width: 100px;
    max-width: 100px;
}

.wdft-table-col.info-block.mid {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.wdft-table-col.info-block.right {
    padding-left: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.wdft-table-col.info-block.actions {
    padding-left: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 2px;
}

.wdft-table-col.divider-block {
    background-color: black;
    height: 1px;
}

.wdft-table-col.left.new, .wdft-table-col.right.missing {
    text-decoration: line-through;
    color: gray;
}

.wdft-table-col.left.missing, .wdft-table-col.right.new {
    color: #4d6206;
    font-weight: bold;
}