

.navbar-brand {
    padding-left: 10px;
}

.treeitemname {
    background-color: #ffffff;
}

.treeitemname:hover {
    background-color: #f0f0f0;
}

.subtree {
    padding-left: 25px;
}

.plus {
    display: inline-block;
    cursor: pointer;
    background-size: 15px 15px;
    background-position: center center;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
}

.subfile {
    display: inline-block;
    background-size: 15px 15px;
    background-position: center center;
    background-image: url(../images/subfile.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
}

.plus.opened {
    background-image: url(../images/minus.png);
}

.state {
    display: inline-block;
    font-size: small;
    margin-left: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.state.missing {
    background-color: red;
}

.state.new {
    background-color: lightblue;
}

.comments {
    padding-left: 100px;
    font-size: small;
}

.comments .comment-text {
    display: inline-block;
    font-size: small;
    margin-bottom: 2px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CCC;
    border: 1px solid lightblue;
    border-radius: 50px;
}

.comment-add {
    display: inline-block;
    cursor: pointer;
    background-size: 25px 25px;
    background-position: center center;
    background-image: url(../images/add_comment.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
    margin-left: 10px;
}

.file-check {
    display: inline-block;
    cursor: pointer;
    background-size: 25px 25px;
    background-position: center center;
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    content: " ";
    vertical-align: top;
    margin-left: 10px;
}

.file-check:hover, .comment-add:hover {
    background-color: #666;
}

.comment-hide {
    display: inline-block;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center center;
    background-image: url(../images/comment-hide.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    content: " ";
    vertical-align: top;
    margin-left: 10px;
}
